{% extends "layouts/base.html.twig" %}

{% block body %}
    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">À propos de nous</h1>
                        </div><!-- /.page-title-captions -->
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- page-title end-->

    <!--site-main start-->
    <div class="site-main">

        <!-- row-text-section -->
        <section class="ttm-row row-text-section ttm-bgcolor-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sep-box text-center">
                            <h2>Nous travaillons dur et rendons votre ville plus seine</h2>
                            <h6>Personnel du service de renseignement amical pour toutes vos questions!</h6>
                            <div class="sep_holder_box width-30 pt-10">
                                <span class="sep_holder"><span class="sep_line"></span></span>
                                <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <span class="sep_holder"><span class="sep_line"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- row-text-section end -->

        <!-- about-section -->
        <section class="ttm-row about3-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper mb-35">
                            <img class="img-fluid" src="images/about-pic.jpg" alt="">
                        </div><!-- ttm_single_image-wrapper end -->
                    </div>
                    <div class="col-lg-7 col-sm-12">
                        <div class="pl-20">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h5>BIENVENU À CAMERINNOV</h5>
                                    <h2 class="title">Vivons Dans la salubrité</h2>
                                </div>
                            </div><!-- section title end -->
                            <p><strong>Nous sommes une équipe de jeunes patriotes qui veulent voire leur pays
                                    atteindre l'emergence. Nous intervenons dans une large gamme de services
                                    urbaines et en même temps nous sommes toujours heureux de vous aider avec tous
                                    les besoins de propreté non conventionnels:</strong></p>
                            <p class="mb-30">Nous travaillons pour assurer la propreté de la ville en proposans des
                                bacs à ordure dans les zones qui n'en possède pas, nos services favorise aussi la
                                securité dans le sens ou nous reparons les poteaux électrique et lampadaires
                                défectueux.</p>
                        </div>
                    </div>
                </div><!-- row end-->
            </div>
        </section>
        <!-- about-section end -->

        <!--services-box-section-->
        <section class="ttm-row services-box-section bg-img12 clearfix">
            <div class="container">
                <div class="row row-equal-height">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style1 top-icon text-center ttm-bgcolor-white box-shadow2">
                            <div
                                class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                <i class="ti ti-flag-alt-2"></i>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Notre histoire</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Une équipe de jeune qui appartera son coup de pouce pour l'évolution de son
                                        pays</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style1 top-icon text-center ttm-bgcolor-white box-shadow2">
                            <div
                                class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                <i class="ti ti-bag"></i>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Notre mission</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Rendre nos espaces de vie plus propre, securisé pour éviter tout sorte de
                                        maladie</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box style1 top-icon text-center ttm-bgcolor-white box-shadow2">
                            <div
                                class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                <i class="ti ti-eye"></i>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Notre vision</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Notre pays atteindra l'emergence l'émergence à l'horison 2035 dans la
                                        salubrité</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- services-box-section end -->
    </div>
    <!--site-main end-->
{% endblock body %}
