<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Notre contribution a l'embellissement de notre ville" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% block googleMap %}{% endblock googleMap %}

    <title>{% block title %}Projet d'embellissement de la ville{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    
<!-- favicon icon -->
<link rel="shortcut icon" href="/images/favicon.png" />

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

<!-- animate -->
<link rel="stylesheet" type="text/css" href="css/animate.css"/>

<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">

<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>

<!-- themify -->
<link rel="stylesheet" type="text/css" href="css/themify-icons.css"/>

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="css/flaticon.css"/>


<!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">

    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">

<!-- prettyphoto -->
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">

<!-- shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes.css"/>

<!-- main -->
<link rel="stylesheet" type="text/css" href="css/main.css"/>

<!--Color Switcher Mockup-->
<link rel="stylesheet" type="text/css" href="css/color-switcher.css" >

<!--Color Themes-->
<link id="switcher-color" href="css/colors/default-color.css" rel="stylesheet">

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    {% endblock %}
</head>

<body class="ttm-one-page-site">
    <!--page start-->
    <div class="page">
        <!-- preloader start -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
          </div>
          <!-- preloader end -->
          {% include "layouts/partials/_nav.html.twig" %}
        {% block body %}{% endblock %}
        {% include "layouts/partials/_footer.html.twig" %}

            <!--back-to-top start-->
    <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->

    <!-- Color Palate / Color Switcher -->
    <div class="color-switcher">
        <div class="color-trigger">
            <i class="fa fa-gear"></i>
        </div>
        <div class="color-switcher-header">
            <h6>Switcher Colors</h6>
        </div>
        <div class="various-color clearfix">
            <div class="colors-list">
                <span class="theme-color default-color active" data-file="css/colors/default-color.css"></span>
                <span class="theme-color theme-color1" data-file="css/colors/theme-color1.css"></span>
                <span class="theme-color theme-color2" data-file="css/colors/theme-color2.css"></span>
                <span class="theme-color theme-color3" data-file="css/colors/theme-color3.css"></span>
                <span class="theme-color theme-color4" data-file="css/colors/theme-color4.css"></span>
                <span class="theme-color theme-color5" data-file="css/colors/theme-color5.css"></span>
            </div>
        </div>
    </div><!-- Color Palate / Color Switcher end-->
    </div><!-- page end -->



    {% block javascripts %}
           <!-- Javascript -->

    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/color-switcher.js"></script>
    <script src="js/jquery.easing.js"></script>    
    <script src="js/jquery-waypoints.js"></script>    
    <script src="js/jquery-validate.js"></script> 
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/numinate.min6959.js?ver=4.9.3"></script>
    <script src="js/main.js"></script>

    <!-- Revolution Slider -->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/slider.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->    

    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Javascript end-->
    {% endblock %}
</body>

</html>