<!--footer start-->
<footer class="footer widget-footer clearfix">
    <div class="second-footer ttm-textcolor-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                    <div class="widget clearfix">
                        <div class="footer-logo">
                            <img id="footer-logo-img" class="img-center" src="images/logo-footer.png" alt="">
                        </div>
                        <p>Nous travaillons afin d'assurer à la population camerounaise un environnement plus
                            sein et securisé</p>
                    </div>
                    <div class="widget widget_text clearfix">
                        <h3 class="widget-title">Jours de travail</h3>
                        <div class="textwidget widget-text">
                            <div class="ttm-pricelistbox-wrapper ">
                                <div class="ttm-timelist-block-wrapper">
                                    <ul class="ttm-timelist-block">
                                        <li>Lun - Sam <span class="service-time">07h - 17h</span></li>
                                        <li>Dimanche<span class="service-time"><strong>Fermé</strong></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area" style="margin-left: 100px;">
                    <div class="widget widget_nav_menu clearfix">
                        <h3 class="widget-title">Signalez un problème</h3>
                        <ul id="menu-footer-services">
                            <li><a href="{{path('app_junk_bin_signalization',{type: 'electric pole'})}}">Problème lieé aux poteaux électriques</a></li>
                            <li><a href="{{path('app_junk_bin_signalization',{type: 'junkbin'})}}">Problème de manque de bacs à ordures</a></li>
                            <li><a href="{{path('app_junk_bin_signalization',{type: 'floorlamp'})}}">problème de lampadaires</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area" style="margin-left: 100px;">
                    <div class="widget flicker_widget clearfix">
                        <h3 class="widget-title">Actions</h3>
                        <div class="ttm-flicker-widget-wrapper">
                            <a href="#"><img src="images/footer-images/01.png" alt="A photo on Flickr"
                                    title="themetech-one"></a>
                            <a href="#"><img src="images/footer-images/02.png" alt="A photo on Flickr"
                                    title="themetech-two"></a>
                            <a href="#"><img src="images/footer-images/03.png" alt="A photo on Flickr"
                                    title="themetech-three"></a>
                            <a href="#"><img src="images/footer-images/04.png" alt="A photo on Flickr"
                                    title="themetech-four"></a>
                            <a href="#"><img src="images/footer-images/05.png" alt="A photo on Flickr"
                                    title="themetech-five"></a>
                            <a href="#"><img src="images/footer-images/06.png" alt="A photo on Flickr"
                                    title="themetech-six"></a>
                            <a href="#"><img src="images/footer-images/07.png" alt="A photo on Flickr"
                                    title="themetech-seven"></a>
                            <a href="#"><img src="images/footer-images/08.png" alt="A photo on Flickr"
                                    title="themeteh-eight"></a>
                            <a href="#"><img src="images/footer-images/09.png" alt="A photo on Flickr"
                                    title="themetech-nine"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->